/* Liquid Bl4ck Theme - SwayOSD CSS Variables */

@define-color background-color #1a1a22;
@define-color border-color #0096ff;
@define-color label #ffffff;
@define-color image #ffffff;
@define-color progress #0096ff;
